$color-black-dark-1:#2b2b2b;
$color-black-gray: #262626;
$color-black-primary:#1a1a1a;

$color-gray-primary: #9f9f9f;
$color-gray-light-1: #9f9f9f45;
$color-gray-light-2: #9c9797;
$color-gray-light-3: #9b9b9b;
$color-white: #ffffff;

$color-orange: rgb(247, 178, 47);

